.banner {
    height: 50px;
}

.banner .left {
    float: left;
}

.banner .username {
    padding: 15px;
    margin-left: 10px;
}

.banner .message {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.banner .right {
    float: right;
    margin-left: 10px;
}

.admin:hover {
    box-shadow: 0 1px 6px 1px rgba(60, 0, 0, 0.7) !important;
    -webkit-box-shadow: 0 1px 6px 1px rgba(60, 0, 0, 0.7) !important;
	-moz-box-shadow: 0 1px 6px 1px rgba(60, 0, 0, 0.7) !important;
}

@media screen and (max-width: 825px) { /* style for a medium screen */
    .banner .message {
        display: none;
    }
}

@media screen and (max-width: 600px) { /* style for a small screen */
    .banner {
        width: 600px;
    }
}
