input[type="submit"], .bouton {
	text-decoration: none;
	width: 100%;
	padding: 15px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 16px Arial;
	font-weight: bold;
	color: #FFF;
	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
	opacity: 0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

input:focus {
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px
		rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.3);
	@
	include
	easeme;
}

input[type="submit"]:hover, .bouton:hover {
	opacity: 1;
	cursor: pointer;
}

.littleButton {
	visibility: hidden;
	width: 30% !important;
	padding: 0px !important;
	float: right;
}

.eventsList td:hover .littleButton, .emailList td:hover .littleButton {
	visibility: visible;
}
