.ui-button:first-letter {
    text-transform: capitalize;
}

.button {
	width: 100%;
	padding: 15px 25px 15px 25px;
	border-radius: 5px !important;
	font-weight: bold;
	border-width: 1px;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.2))) !important;
}

.button a {
	font-weight: bold;
}

.button span {
	padding: 0 !important;
	font-weight: bold;
}

.button:hover {
	cursor: pointer;
}

.littleButton {
	visibility: hidden;
	padding: 0;
}

.littleButton span {
	font-size: 1.2em;
}

.littleButton {
	width: 30%;
	float: right;
}

.activeCell:hover .littleButton, .ui-datatable tr:hover .littleButton {
	visibility: visible;
}
