/* gradient start */
.button,
.ui-fileupload .ui-button,
.ui-confirm-dialog .ui-button,
.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-footer,
.ui-datatable thead th,
.ui-datatable tfoot th {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #8cbed2 0%, #6496aa 50%, #003246 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8cbed2 0%, #6496aa 50%, #003246 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8cbed2 0%, #6496aa 50%, #003246 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom, rgb(var(--color1)) 0%, rgb(var(--color1-deep)) 50%, rgb(var(--color1-dark)) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbed2', endColorstr='#003246',GradientType=0 ) !important; /* IE6-9 */
}
.button:hover,
.ui-fileupload .ui-button:hover,
.ui-confirm-dialog .ui-button:hover
    {background: linear-gradient(to bottom, rgb(var(--color2)) 0%, rgb(var(--color1)) 50%, rgb(var(--color1-dark)) 100%) !important;} /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
.button:focus
    {background: linear-gradient(to bottom, rgb(var(--color1-dark)) 0%, rgb(var(--color1-deep)) 50%, rgb(var(--color1)) 100%) !important;} /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

/* background-color start */
.submenu,
.ui-datatable .ui-paginator
	{background-color:#ffffff;background-color:rgb(var(--color2));}
.ui-datatable .ui-paginator .ui-state-hover,
.ui-datatable .ui-paginator .ui-state-active,
.ui-datatable .ui-paginator.pages .ui-state-default:focus
    {background-color:#8cbed2 !important;background-color:rgb(var(--color1)) !important;}
.ui-datatable tr
    {background-color:rgba(0, 0, 0, 0.1) !important;}
.ui-datatable tr:hover
    {background-color: #ffffff !important;background-color:rgb(var(--color2)) !important;}
/* background-color end */

/* border-color start */
.button
    {border:1px solid #003246 !important;border:1px solid rgb(var(--color1-dark)) !important;}
.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-footer
    {border-color:black !important;}
.button,
.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-footer
    {border-top-color:rgba(250, 250, 250, 0.8) !important;}
.form.frame:hover,
.ui-fileupload .ui-button,
.ui-confirm-dialog .ui-button:focus,
.ui-datatable .ui-widget-content,
.ui-datatable thead th,
.ui-datatable tfoot th
    {border-color:#6496aa !important;border-color:rgb(var(--color1-deep)) !important;}
.ui-datatable th:first-child,
.ui-datatable tr td:first-child,
.ui-datatable .ui-paginator
    {border-left-color:black !important}
.ui-datatable th:last-child,
.ui-datatable tr td:last-child,
.ui-datatable .ui-paginator
    {border-right-color:black !important}
.form.frame:focus,
.ui-datatable .ui-paginator .ui-state-hover,
.ui-datatable .ui-paginator .ui-state-active,
.ui-datatable .ui-paginator.pages .ui-state-default:focus
    {border-color:#8cbed2 !important;border-color:rgb(var(--color1)) !important;}
/* border-color end */

/* text color start */
.link, h1, h2, p
    {color:#6496aa !important;color:rgb(var(--color1-deep)) !important;}
.link,
.breadcrumb span
    {color:#003246 !important;color:rgb(var(--color1-dark)) !important;}
.button,
.littleButton span,
.ui-datatable thead th,
.ui-datatable tfoot th,
.ui-datatable .ui-state-default span,
.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-footer
    {color:#ffffff !important;color:rgb(var(--color2)) !important;}
.ui-datatable .ui-paginator-page.ui-state-active,
.ui-datatable .ui-paginator-page.ui-state-hover
    {color:#ffffff !important;}
.ui-datatable .ui-paginator-page
    {color:#616161 !important;}
.frame,
.ui-dialog-content span,
.ui-dialog-titlebar span,
.ui-datatable tbody td,
.ui-datatable tbody td span
	{color:#6496aa !important;color:rgb(var(--color1-deep)) !important;}
.link:hover,
.form.frame:focus
    {color:#8cbed2 !important;color:rgb(var(--color1)) !important;}
/* text color end */

/* font color start */
.ui-icon
/*     {background-image: url(/images/ui-icons_black_256x240.png?ln=primefaces-aristo) !important;} */
    {background-image: url(/faces/javax.faces.resource/images/ui-icons_616161_256x240.png?ln=primefaces-aristo) !important;}
.ui-datatable .ui-paginator .ui-state-hover .ui-icon,
.ui-datatable .ui-paginator .ui-state-active .ui-icon,
.ui-datatable .ui-paginator.pages .ui-state-default:focus .ui-icon
/*     {background-image: url(/images/ui-icons_white_256x240.png?ln=primefaces-aristo) !important;} */
    {background-image: url(/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-aristo) !important;}
.ui-icon-seek-first
    {background-position: -80px -158px !important;}
.ui-icon-seek-prev
    {background-position: -48px -158px !important;}
.ui-icon-seek-next
    {background-position: -32px -158px !important;}
.ui-icon-seek-end
    {background-position: -64px -158px !important;}
.ui-icon-alert
    {background-image: url(/images/symbols/warning.png) !important;background-position: 0 0 !important;border-radius: 0 !important;width: 30px !important;height: 30px !important;}
/* font color end */

/* box-shadow start */
.ui-button {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	}
.button {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7) !important;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7) !important;
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7) !important;
	}
.button:hover,
.ui-fileupload .ui-button:hover,
.ui-confirm-dialog .ui-button:hover,
.ui-datatable .ui-paginator .ui-state-hover {
    box-shadow:0 0 8px #003246 !important;box-shadow:0 0 8px rgb(var(--primary-dark)) !important;
    -webkit-box-shadow:0 0 8px #003246 !important;box-shadow:0 0 8px rgb(var(--primary-dark)) !important;
	-moz-box-shadow:0 0 8px #003246 !important;box-shadow:0 0 8px rgb(var(--primary-dark)) !important;
	}
/* box-shadow end */

/* miscellaneous */
.form.frame
    {--transparent-background: rgba(0, 0, 0, 0.4) !important;}

.form.frame:hover
    {--transparent-background: rgba(var(--color1-dark), 0.1) !important;}

.form.frame:focus
    {--transparent-background: rgba(var(--color1-dark), 0.2) !important;}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: var(--transparent-background);
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #6496aa;
    -webkit-text-fill-color: rgb(var(--color1-deep));
}

input:-webkit-autofill:focus {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #8cbed2;
    -webkit-text-fill-color: rgb(var(--color1));
}
