.status {
    width: 60px;
}

.emaildate, .count {
    width: 150px;
}

.ui-datatable .ui-datatable-header {
    font-size: 1.2em;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer, .ui-datatable thead th, .ui-datatable tfoot th {
    text-align: center;
    padding: 0;
    font-weight: bold;
}
.ui-datatable thead th span, .ui-datatable tfoot th span {
    height: 15px;
}

.ui-datatable table {
    border-collapse: collapse;
    margin: 0;
}

.ui-datatable tbody td {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border-width: 1px !important;
    border-style: solid;
    font-size: 0.8em;
}

.ui-datatable tbody td .main {
    float: left;
    padding: 3px 0 3px 6px;
}

.ui-datatable .ui-state-focus {
    border-color: #a8a8a8 !important;
    background-color: #c4c4c4 !important;
    box-shadow: 0 0 0px white !important;
}
