/*dark background to support form theme*/
body {
	background:
		url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

/*sass variables used*/
$
full: 100%;
 $auto: 0 auto ;
 $align:right ;

 @mixin disable {
	outline: none;
	border: none;
}

@
mixin easeme {
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	transition: 1s ease;
}

#image {
	width: 100%;
}

/*site container*/
.wrapper {
	width: 600px;
	margin: auto;
}

.form {
	width: $full;
}

input[type="text"], input[type="email"], textarea, .emailList, input[type="password"], .eventsList {
	width: 97%;
	padding: 15px 5px 15px 5px;
	border-radius: 5px;
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px
		rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.2); @ include disable;
	border: 1px solid rgba(0, 0, 0, 1);
	margin-bottom: 10px;
	color: #6E6E6E;
	text-shadow: #000 0px 1px 5px;
}

.name-help, .email-help {
	display: none;
	padding: 0px;
	margin: 0px 0px 15px 0px;
}
