.menu, .submenu {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}

.menu {
	position: relative;
	z-index: 200;
	display: inline-flex;
	width: 100%;
}

.menu .ui-button {
	width: 200px;
}

.tab {
	padding-left: 5px;
	padding-right: 5px;
}

.tab:first-child {
	padding-left: 0;
}

.tab:last-child {
	padding-right: 0;
}

.tab:hover {
	cursor: default;
}

.submenu {
	display: none;
	position: absolute;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    margin-left: 4px;
}

.menu>li:hover .submenu {
	display: block;
}

.submenu li:first-child {
	padding-top: 5px;
}

.submenu li:last-child {
	padding-bottom: 5px;
}

.submenu .ui-button {
    background: none;
    border: 0px !important;
    width: 190px;
}

.breadcrumb {
	height: 20px;
	padding: 5px;
}

.breadcrumb div, .breadcrumb span {
	float: left;
}

.breadcrumb span {
	font-style: italic;
}

.breadcrumb.frame {
	background: rgba(255, 255, 255, 0.3) !important;
}


@media screen and (max-width: 600px) { /* style for a small screen */
    .menu {
        width: 600px;
    }
}
