* {
	font: 1em Arial;
	text-decoration: none;
	text-shadow: none !important;
}

h1 {
    text-align: center;
	padding: 10px 0 10px 0;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0 10px 0;
}

h2 {
	padding: 5px 0 5px 0;
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px 0 5px 0;
}

.success {
	color: green;
}

.error {
	color: red;
}

.warning {
	color: orange;
}

.center {
	text-align: center;
}

.link:hover {
	text-decoration: underline;
}

.title {
	font-size: 1.2em;
	text-decoration: underline;
}

.form.frame {
    font-size: 1em;
}
